/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 3, 2019, 12:19:09 PM
    Author     : frontend
*/


/*

> 0px   XS - NO NAME


> 576px SM - small devices



> 768px MD  - medium devices


> 992px  LG    large devices



> 1200px  XL   extra large devices

*/



@media( min-width:576px){
    .carousel-indicators {
        bottom: 5%;
    }

    .top-articles{
        padding: 29px 5px 20px 40px;
    }

    .what .what-title {
        width: 50%;

    }

    .gallery-img .gallery-img-item figure .plus-hover{
        height: 61px;
        width: 61px;
        line-height: 56px;
    }
    /*section platforms*/

    .platforms .nav .nav-item{
        flex: 1 1 auto;
    }
}




@media(min-width:768px){

    .lead-slider .lead-slider-row{
        padding: 7% 0 32%;
    }

    .lead-slider .lead-slider-content h1{
        line-height: 57px;
    }

    .lead-slider .lead-slider-img{
        position: relative;
        right: 20px
    }

    .lead-slider-img > img{
        position: absolute;
        top: 0;
        right: 0;
        width: 78%;
    }

    .carousel-indicators{
        bottom: 86px;
    }

    .top-articles{
        margin-top: -65px;
    }
    /*section platforms*/

    .platforms .nav .nav-item{
        flex: 1 1 0;
    }

    .platforms .nav li:nth-of-type(4) img{
        width: 50%;
    }

}


@media(min-width:992px){
    .navbar .navbar-nav .nav-item .nav-link{
        border-bottom: 4px solid transparent;
    }

    .navbar .navbar-nav .nav-item .nav-link.active,
    .navbar .navbar-nav .nav-item .nav-link:hover{
        border-bottom: 4px solid #1FDB84;
    }

    .navbar .register,
    .get-started{
        width: 120px;
    }

    .lead-slider .lead-slider-row{
        padding: 10% 0 34%;
    }

    .lead-slider .lead-slider-content h1{
        font-size: 48px;
    }

    .lead-slider .lead-slider-content p{
        line-height: 32px;
    }

    .paid-plan .container:last-of-type {
        padding-top: 50px;
    }
    .five-cols .col-lg-3{
        flex: 0 0 20%;
    }

    .platforms{
        margin-bottom: 120px;
    }
}


@media(min-width:1200px){



}